:root {
  color-scheme: dark;
}

body{
  background-color:#2B2A33;
  color:#f9f9fb;
}

input, textarea{
  color:#FBFBFE;
}

a{color:#69AFFF}
a:visited{color:#a09dff}

.sptable{
  background-color:#36353D;
  border:1px solid #5a5869;
  box-shadow: 0px 1px 3px 0px #42414D;
}

.sfi{
  background-color:#36353D;
}

.ssbtn{
  background:#36353D url(sdark.png) center/16px no-repeat;
}

.rb-select{
  background-color:#36353D;
  border:0;
  border-right: 1px solid #5a5869;
  color:#ddd;
}

.modal__container {
  background-color:#36353D;
  color:#fafafa;
}

.dcc{
  background-color: #36353D;
  box-shadow: 0px 2px 8px 0px #5a5869;
}

.ac-row-wr:hover{
  background-color:#42414D;
}

.static{
  border:1px solid #606060;
}

.allfields{
  border:1px solid #606060;
}

.tab{
  color:#fff;
}

.sr{
  color:#afafaf;
}

.sra{
  color:#afafaf;
  font-weight:bold;
}

a.tablink{
  color:#ccc;
  text-decoration:none;
}

a.tablink:visited{
  color:#ccc;
}

a.tablinka{
  color:#fff;
  border-bottom:2px solid #FFF;
  text-decoration:none;
}

a.tablinka:visited{
  color:#fff;
}

.sorti{
  background: url(stdark.png) right/10px no-repeat;
}

.dotwrap{
  background: url(ddot.png) center/15px no-repeat;
}

.filtertab{
  background: #42414D url(ddown.png) right/20px no-repeat;
}

.ftaba{
  border: 1px solid #888;
  background: #2B2A33 url(ddown.png) right/20px no-repeat;
}

a.plink{
  color:#ccc;
}

a.plink:visited{
  color:#ccc;
}

a.plinka{
  border-bottom:2px solid #FFF;
  color:#fff;
}

a.plinka:visited{
  color:#FFF;
}

a.pnext{
  color:#fff;
}

a.pprev{
  color:#fff;
}
  
.rbtn{
  background:#69AFFF;
  color:#000;
}

a.rbtn:visited{
  color:#000;
}

.pfwrapper{
  color:#42414D;
}

.close-modal-text{
  color:#fff;
}

.etcdots{
  color:#fff;
}

.vqueries{
  color:#a09dff;
}

ol li::marker {
    color: #999;
}