:root {
  color-scheme: light;
}

body{
  background-color:#fff;
  color:#20123A;
}

input, textarea{
  color:#000;
}

a{color:#0000cc}
a:visited{color:#6D21B3}

.logos{
  color:#20123A;
}

.sptable{
  background-color:#fff;
  border:1px solid #e4e4e4;
  box-shadow: 0px 2px 4px 0px #e0e0e0;
}

.sfi{
  background-color:#fff;
}

.ssbtn{
  background:#fff url(s.png) center/16px no-repeat;
}

.rb-select{
  background-color:#fff;
  border:0;
  border-right:1px solid #ddd;
  color:#000;
}

.modal__container {
  background-color:#fff;
  color:#000;
}

.dcc{
  box-shadow: 0px 2px 8px 0px #ccc;
  background-color: #fff;
}

.ac-row-wr:hover{
  background-color:#f4f4f8;
}

.allfields{
  border:1px solid #606060;
}

.tab{
  color:#000;
}

.sr{
  color:#505050;
}

.sra{
  color:#505050;
  font-weight:bold;
}

a.tablink{
  color:#333;
}

a.tablink:visited{
  color:#333;
}

a.tablinka{
  color:#20123A;
  border-bottom:2px solid #20123A;
}

a.tablinka:visited{
  color:#20123A;
}

.sorti{
  background: url(sort.png) right/10px no-repeat;
}

.dotwrap{
  background: url(dot.png) left/15px no-repeat;
}

.filtertab{
  background: #f0f0f4 url(down.png) right/20px no-repeat;
}

.ftaba{
  border: 1px solid #888;
  background: #fff url(down.png) right/20px no-repeat;
}

a.plink{
  color:#333;
}

a.plink:visited{
  color:#333;
}

a.plinka{
  border-bottom:2px solid #000;
  color:#000;
}

a.plinka:visited{
  color:#000;
}

a.pnext{
  color:#000;
}

a.pprev{
  color:#000;
}

.rbtn{
  background:#085ff7;
  color:#fff;
}

a.rbtn:visited{
  color:#fff;
}

.pfwrapper{
  color:#fff;
}

.close-modal-text{
  color:#000;
}

.etcdots{
  color:#000;
}

.vqueries{
  color:#6D21B3;
}

ol li::marker {
    color: #666;
}