* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width:100%;
  height:100%;
}

header{
  margin-top: 6px;
}

.staticwrap{
  margin:32px 4px;
  max-width:768px;
}

header{
  text-align: center;
}

input, textarea{
  outline:none;
  box-sizing: border-box;
  padding-top:4px;
  padding-bottom:4px
}

a{text-decoration:none}
a:hover{text-decoration:underline}

.htabs{
  width:100%;
  max-width:500px;
  padding-top:4px;
  margin:0 auto;
}

.content{
  width:100%;
  max-width:700px;
  margin:0 auto;
  padding-bottom:16px;
}

.homedesc{
  font-size:12px;
  margin-top:6px;
  text-align:center;
}

.sbox{
  margin-right:4px;
  margin-left:4px;
}

.sptable{
  display:inline-block;
  margin-bottom:4px;
  width:100%;
}

.sptable-1{
  width:100%;
  xmax-width:640px;
  height:40px;
}

.sptable-2{
  width:40px;
  height:40px;
}

.rb-select{
  height:40px;
  padding:0;
  margin:0;
  border;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
}

.filtertab{
  display:inline-block;
  padding:11px;
  padding-right:22px;
  margin:4px 8px 4px 0px;
  font-size:12px;
  cursor:pointer;
  border-radius:5px;
  box-sizing: border-box;
}

.ftaba{
  box-sizing: border-box;
}
  
.stabs{
  font-size:13px;
  width:100%;
  text-align:center;
  cursor:pointer;
}

.stab{
  text-align:center;
  width:25%;
  box-sizing: border-box;
  padding:0px 3px;
  display:inline-block;
}

.tab{
  width:100%;
  padding-top:6px;
  padding-bottom:8px;
  cursor:pointer;
}

.tabwrap{
  width:25% !important;
  text-align:center;
  display: inline-block;
}

a.tablink{
  text-decoration:none;
  box-sizing: border-box;
  padding-top:8px;
  padding-bottom:8px;
  xwidth:25% !important;
  font-size:12px;
  display: inline-block;
}

a.tablinka{
  text-decoration:none;
  box-sizing: border-box;
  padding-top:8px;
  padding-bottom:8px;
  xmin-width:25%;
  font-size:12px;
  display: inline-block;
  font-weight:bold;
}
  
.form{
  display:none;
}

.tabradio{
  display:none;
}

.sptable{
  border-radius:5px;
}

.sfi{
  box-shadow:none;
  outline:none;
  height:40px;
  border:0;
  padding:0px 8px ;
  margin:0 auto;
  width:100% !important;
  border-radius:5px;
  box-sizing: border-box;
}

.sba{
  display:block;
  margin:0 auto;
  text-align:center;
}

.ssbtn{
  display:block;
  border:0;
  cursor:pointer;
  height:40px;
  width:32px;
  border-radius:5px;
  box-sizing: border-box;
}

.tab-re-rb{
  margin-top:16px;
  text-align:center;
  max-width:700px;
}

.stags{
  font-size:13px;
  width:100%;
  text-align:center;
  cursor:pointer;
}

.stags div{
  text-align:center;
  width:25%;
  box-sizing: border-box;
  padding:12px 0px 12px 0px;
  display:inline-block;
}

.stag{
  text-decoration:none;
}

.rcswrapper{
  width:100%;
  max-width:700px;
  margin-top:12px;
  padding-bottom:10px;
  font-size:14px; 
}

.rtable{
  width:100%;
  border:0;
}

.rtable-1{
  width:65%;
  box-sizing: border-box;
}

.rtable-2{
  width:35%;
  text-align:right;
  font-size:13px;
}

.res{
  padding:16px 0px 16px 0px;
  max-width:700px;
  margin: 0px 4px;
}

.res table{
  width:100%;
  cursor: hand;
  border-collapse: collapse;
}

.res-url{
  margin-top:14px;
}

.res-url a{
  text-decoration:underline;
}

.res-url a:hover{
  text-decoration:none;
}

.res-td1{
  width:96px;
  height:96px;
  vertical-align:top;
}

.res-td2{
  vertical-align:top;
}

.res-img{
  width:96px;
  height:96px;
  border-radius:5px;
  display: block;
  cursor:pointer;
}

.res-date{
  font-size:13px; 
  margin-top: 3px;
  font-style:italic;
}

.res-links{
  font-size:14px;
}

.res-links a, span{
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
}

.tags{
  font-size:15px;
}

.rloc{
  word-break:keep-all;
  display:inline-block;
}

.dotbuttons div{
  cursor:pointer;
  padding:24px;
  font-size:18px;
}

.rbtn{
  padding:8px 10px;
  margin-top:10px;
  display:inline-block;
  box-sizing: border-box;
  font-size:14px;
}

.resultactions{
  overflow:auto;
  white-space:nowrap;
}

.noads{
  width:100%;
  box-sizing: border-box;
  text-align:center;
  margin-top:64px;
  font-size:28px;
}

.dropdown {
  position: relative;
  width:100%;
}

.dropdown-content {
  width:100%;
  xmax-width:600px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  margin-top:0px;
}

.container {
  display: inline;
  position: relative;
}
  
.inner-div {
  position: absolute;
  width: 100%;
  margin-top:-4px
}

.show {display:block;}

.dcc{
  position: relative;
  z-index: 40;
  width:100%;
  margin-top:-4px;
}

.ac-row-wr{
  box-sizing: border-box;
  padding:12px 10px;
  font-size:14px;
  width:100%;
  cursor:pointer;
}

.pqueries{
  font-style: italic;
}

.modal-row-rbs{
  margin-top:24px;
}

.modal-row-rbs span{
  display:inline-block;
}

.modal-buttons{
  margin:0 auto;
  display:block;
  margin-top:30px;
}

.modal-buttons button{
  cursor: pointer;
  padding:8px;
  margin-right:24px;
}

.modal-buttons span{
  cursor: pointer;
  font-size:14px;
}

.rp{
  display:inline-block;
  margin-bottom:4px;
}

.pricem{
  font-size:16px;
  font-weight:bold;
  margin-top:5px;
}

.rl{
  word-break:keep-all;
  display:inline-block;
  margin-top:9px;
}

.close-modal-text{
  text-align:center;
  font-size:14px;
  padding-top:24px;
  cursor:pointer;
}

.modal-row{
  font-size:14px;
  margin-top:24px
}

.show-more-button{
  margin-top:24px;
}

.search-button{
  margin:0 auto;
  display:block;
  height:32px;
  margin-top:12px;
  box-sizing: border-box;
  cursor:pointer;
}

.sorti{
  font-weight:bold;
  padding-right:14px;
  cursor:pointer;
  box-sizing: border-box;
}

.ptable-2{
  width:100%;
  max-width:700px;
  text-align:center;  
  margin-top: 16px;
  box-sizing:border-box;
  font-size:18px;
}

a.plinka{
  padding-bottom:4px;
  margin:0px 15px;
  font-weight:bold;
}

a.plink{
  margin:0px 15px;
}

a.pnext{
  margin-left:15px;
}

a.pprev{
  margin-right:15px;
}

.etcdots{
  cursor:pointer;
  margin:0px;
}

.pfwrapper{
  max-width:274px;
}

a.pflink{
  line-height:50px;
  font-size:20px;
  outline:none;
  width:50px;
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
}

.sr{
  cursor:pointer;
}

.sr:hover{
  text-decoration:underline;
}

.ldtable{
  display: inline-block;
  margin-top:12px;
}

.savedt{
  text-align:center;
  font-size:14px;
  padding-top:24px;
  font-weight:bold;
  box-sizing:border-box
}

.fprice{
  width:128px;
}

.olist{
  padding:0;
  margin:0;
  list-style-position: inside;
}

@media only screen and (min-width: 640px) {
  .res-td1{
    width:128px;
    height:128px;
  }
  .res-img{
    width:128px;
    height:128px;
  }
}

@media only screen and (max-width: 700px) {
  .scroll {
    overflow: auto;
    white-space: nowrap;
  }
  .scroll div {
    display: inline-block;
  }
}

@media only screen and (min-width: 900px) {
  .xhtable{
    margin-top:160px;
  }
}

/* modal animation */
.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  padding: 12px;
  xmax-width: 500px;
  min-width:300px;
  max-height: 100vh;
  border-radius: 0px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color:#ffffff;
  color:#000000;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .25s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.close-modal-text{
  color:#000;
}