<% content_for :head do %>
  <title>OpenSorted - <%= t 'search-ads' %></title>
<% end %>

<%= render "welcome/shared/search_form" %>
  
<div class="homedesc">
  <%= t 'search-billions' %>
</div>
      
<% if (params[:c].blank?) || (params[:c].to_s == "p") %>
  <% if (cookies["p"].present?) && (JSON.parse(cookies["p"]).count > 0) %>
    <div style="text-align:center;font-size:14px;margin-top:40px">
      <b><%= link_to t('saved'), saved_path, style: "color:#222" %></b> (<%= JSON.parse(cookies["p"]).count %>)
    </div>
  <% end %>
<% elsif (params[:c].present?) || (params[:c].to_s == "s") %>
  <% if (cookies["s"].present?) && (JSON.parse(cookies["s"]).count > 0) %>
    <div style="text-align:center;font-size:14px;margin-top:40px">
      <b><%= link_to t('saved'), saved_path, style: "color:#222" %></b> (<%= JSON.parse(cookies["s"]).count %>)
    </div>
  <% end %>
<% elsif (params[:c].present?) || (params[:c].to_s == "r") %>
  <% if (cookies["r"].present?) && (JSON.parse(cookies["r"]).count > 0) %>
    <div style="text-align:center;font-size:14px;margin-top:40px">
      <b><%= link_to t('saved'), saved_path, style: "color:#222" %></b> (<%= JSON.parse(cookies["r"]).count %>)
    </div>
  <% end %>
<% elsif (params[:c].present?) || (params[:c].to_s == "j") %>
  <% if (cookies["j"].present?) && (JSON.parse(cookies["j"]).count > 0) %>
    <div style="text-align:center;font-size:14px;margin-top:40px">
      <b><%= link_to t('saved'), saved_path, style: "color:#222" %></b> (<%= JSON.parse(cookies["j"]).count %>)
    </div>
  <% end %>
<% end %>
  
<script>
window.addEventListener("load", () => {
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("service-worker.js");
  }
});
</script>