<% content_for :head do %>
  <title>OpenSorted - Privacy Policy</title>
<% end %>

<div class="staticwrap">
<h3>Privacy policy</h3><br>
  <ul>
    <li>OpenSorted may link to other websites. 
    We have no control over those websites and cannot accept responsibility or liability for their respective content and privacy policies.</li>
    <li>You do not need to register or share any personal information to use this website.</li>
    <li>Only the information that you type in a search query or the basic information your browser automatically sends is visible to us.</li>
    <li>Various cookies are stored on your browser. They contain information about search settings.</li>
  </ul>
</div>