<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>OpenSorted</title>
  <link>https://www.opensorted.com</link>
  <description>Search products, services, real estate and jobs</description>
  
  <item>
    <title>title</title>
    <link>https://www.opensorted.com/1</link>
	<pubDate>2000</pubDate>
    <guid>1</guid>
    <description>desc</description>
  </item>
      
</channel>

</rss> 