<% content_for :head do %>
  <title>OpenSorted - <%= t 'saved' %></title>
<% end %>

<% if @total_results_p > 0 %>
<div class="savedt">
  <%= t 'products' %> (<%= @total_results_p %>)
</div>
  
<%= render "welcome/shared/results", results: @results_p, c: "p" %>
<% end %>

<% if @all_count == 0 %>
  <div class="savedt">
    <%= t 'no-saved' %>
  </div>
<% end %>