<% content_for :head do %>
  <% if params[:q].to_s.present? %>
  <title><%= params[:q].to_s %> - OpenSorted</title>
  <% else %>
  <title>OpenSorted</title>
  <% end %>
<% end %>
  
<%= render "welcome/shared/search_form" %>

<%= render "welcome/shared/results", results: @results, c: params[:c] %>
      
 <div class="hwrap">     
    <div class="ptable-2">
     <% pagination_numbers(params[:page], 20, @total_results).each do |x| %>
        <% if x == "..." %>
          <span data-micromodal-trigger="etcetera" class="etcdots">...</span>
        <% elsif x.to_s == params[:page] %>
          <span><%= link_to x, search_path(params.except(:page).to_enum.to_h.merge(:page => x)), class: "plinka" %></span>
        <% elsif x.to_s == ">" %>
         <span><%= link_to x, search_path(params.except(:page).to_enum.to_h.merge(:page => (params[:page].to_i + 1))), class: "pnext", title: "Next" %></span>
        <% elsif x.to_s == "<" %>
        <span><%= link_to x, search_path(params.except(:page).to_enum.to_h.merge(:page => (params[:page].to_i - 1))), class: "pprev", title: "Previous" %></span>  
        <% else %>
          <span>
            <%= link_to x, search_path(params.except(:page).to_enum.to_h.merge(:page => x)), class: "plink" %>
          <% end %>
          </span>
     <% end %>
    </div>
  </div>

<div style="text-align:center;margin-top:40px;font-size:12px;color:grey">
  <%= link_to t('privacy'), privacy_path, style: 'color:grey' %> •
  <%= link_to t('contact'), privacy_path, style: 'color:grey' %>
</div>

<div class="modal micromodal-slide" id="etcetera" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="etcetera-title">
      <div class="pfwrapper" >
      <br>
      <% full_pages(20, @total_results).each do |x| %>
        <%= link_to x, search_path(params.except(:page).to_enum.to_h.merge(:page => x)), class: "pflink" %>
      <% end %>
      <div data-micromodal-close aria-label="Close this dialog window" class="close-modal-text">Close</div>
      <br>
      </div>
    </div>
  </div>
</div>
                  
<div class="modal micromodal-slide" id="sortic" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="sortic-title">
      <div>
        <br>
      <div>
        
      <% if params[:sort].blank? %>
       <%= t 'no-sorting' %>
      <% else %>
      <%= link_to t("no-sorting"), search_path(params.except(:sort, :page, :action, :controller).to_enum.to_h.merge(:page => 1)), style: "outline:none" %>
      <% end %>
      </div><br>
      <div>
      <% if params[:sort].to_s == "masc" %>
       <%= t 'lowest-price' %>
      <% else %>
      <%= link_to t("lowest-price"), search_path(params.except(:sort, :page, :action, :controller).to_enum.to_h.merge(:sort => "masc", :page => 1)), style: "outline:none" %>
      <% end %>
      </div><br>
      <div>
      <% if params[:sort].to_s == "mdesc" %>
       <%= t 'highest-price' %>
      <% else %>
      <%= link_to t("highest-price"), search_path(params.except(:sort, :page, :action, :controller).to_enum.to_h.merge(:sort => "mdesc", :page => 1)), style: "outline:none" %>
      <% end %>
      </div><br>
      <div>
      <% if params[:sort].to_s == "edesc" %>
       <%= t 'most-recent' %>
      <% else %>
      <%= link_to t("most-recent"), search_path(params.except(:sort, :page, :action, :controller).to_enum.to_h.merge(:sort => "edesc", :page => 1)), style: "outline:none" %>
      <% end %>
      </div><br>
      <div>
      <% if params[:sort].to_s == "ydesc" %>
       <%= t 'most-popular' %>
      <% else %>
      <%= link_to t("most-popular"), search_path(params.except(:sort, :page, :action, :controller).to_enum.to_h.merge(:sort => "ydesc", :page => 1)), style: "outline:none" %>
      <% end %>
      </div><br>
      <div>
      <% if params[:sort].to_s == "dasc" %>
       <%= t 'nearest-first' %>
      <% else %>
      <%= link_to t("nearest-first"), search_path(params.except(:sort, :page, :action, :controller).to_enum.to_h.merge(:sort => "dasc", :page => 1)), style: "outline:none" %>
      <% end %>
      </div>

      <div data-micromodal-close aria-label="Close this dialog window" class="close-modal-text"><%= t "close" %></div>
      <br>
      </div>
    </div>
  </div>
</div>              

<script>
function srsave(link, cat, url) {
  var element = document.getElementById("save-row-" + link);
  var element2 = document.getElementById("unsave-row-" + link);
  const xhttp = new XMLHttpRequest();
  xhttp.open("GET", "/save?link=" + link + "&cat=" + cat + "&url=" + url);
  xhttp.send();
  setTimeout(function () {
      element.style.display = "none";
      element2.style.display = "inline-block";
  }, 250);
  var name = "cp";
  var match = document.cookie.match(RegExp('(?:^|;\\s*)' + name + '=([^;]*)'));
  if (match) {
    var has_cookie = true;
  } else{
    var has_cookie = null;
  };
  setTimeout(function () {
    if (has_cookie === true){
      alert('You can find saved results in "Products" tab')
      document.cookie = name +"=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
    };
  }, 500);
}
</script>