<% if (params[:country_code].present?) %>
  <%= hidden_field_tag(:country_code, params[:country_code]) %>
<% end %>
<% if (params[:language_code].present?) %>
  <%= hidden_field_tag(:language_code, params[:language_code]) %>
<% end %>
  
<%= hidden_field_tag :locale, I18n.locale.to_s %>

<% if (["s", "r", "j"].include? "#{params[:c]}") %>
  <%= hidden_field_tag(:c, params[:c], id: "tabf") %>
<% else %>
  <%= hidden_field_tag(:c, "p", id: "tabf") %>
<% end %>

<% if params[:sf].blank? %>
  <%= hidden_field_tag(:sf, "any") %>
<% else %>
  <%= hidden_field_tag(:sf, params[:sf]) %>
<% end %>

<% if params[:lu].blank? %>
  <%= hidden_field_tag(:lu, "") %>
<% else %>
  <%= hidden_field_tag(:lu, params[:lu]) %>
<% end %>

<% if params[:cond].blank? %>
  <%= hidden_field_tag(:cond, "") %>
<% else %>
  <%= hidden_field_tag(:cond, params[:cond]) %>
<% end %>
  
  <%= hidden_field_tag(:page, 1) %>

<% if params[:sort].blank? %>
  <%= hidden_field_tag(:sort, "") %>
<% else %>
  <%= hidden_field_tag(:sort, params[:sort]) %>
<% end %>

<% if params[:rpp].blank? %>
  <% if cookies[:rpp].blank? %>
    <%= hidden_field_tag(:rpp, 10) %>
  <% else %>
    <%= hidden_field_tag(:rpp, cookies[:rpp]) %>
  <% end %>
<% else %>
  <%= hidden_field_tag(:rpp, params[:rpp]) %>
<% end %>  
  
<%= hidden_field_tag(:t, cookies[:t]) %>
