<ol class="olist" start="<%= @startol %>">
<% results.each do |ad| %>
      
      <div class="hwrap">
        <div class="res" id='res-row-<%= ad["_id"] %>'>
            <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td class="res-td2">
                        <div class="tags">
                          <div style="font-size:18px">   
                            <li>
                             <%= link_to ad["_source"]["a"], root_path %>
                            </li>
                          </div>
                          <div style="font-size:13px;margin-top:3px">
                            <%= ad["_source"]["b"] %> • <%= ad["_source"]["b"] %> • <%= ad["_source"]["b"] %>
                          </div>
                          <div style="font-size:14px;margin-top:4px">
                            <a href='https://<%= ad["_source"]["g"] %>'><%= ad["_source"]["h"] %></a>
                            • <%= ad["_source"]["j"] %>, USA
                          </div>
                          <div class="pricem">
                            <%= ad["_source"]["m"] %> 
                            <%= ad["_source"]["l"].upcase %>
                          </div>
                      </div>
                    <div class="res-date">
                      4 months ago
                    </div>
                    </td>
                    <% unless cookies[:noimg].present? %>
                    <td onclick='setimg("<%= ad["_source"]["d"] %>", "")' class="res-td1">
                      <img lazy='<%= ad["_source"]["d"] %>' src="" data-micromodal-trigger="imgpop" class="res-img" />       
                    </td>
                    <% end %>
                  </tr>
                </tbody>
            </table>
            <div class="res-links">
                      <% ad["_source"]["o"].split(", ").each do |x| %>
                        <%= link_to x.split("#").first.to_s, "#{x.split("#").second.to_s}" %>
                      <% unless x == ad["_source"]["o"].split(", ").last %>
                          • 
                      <% end %>
                      <% end %>
                        • <%= link_to t('directions'), map_provider(cookies[:mapp], ad["_source"]["j"].to_s, "0,0") %> 
                       • 
                      <% if (cookies["#{c}"].present?) && (JSON.parse(cookies["#{c}"]).include? "#{ad["_id"]}") %>
                      <span class="sr sra" id='unsave-row-<%= ad["_id"] %>' onclick='srunsave("<%= ad["_id"] %>", "<%= c %>" , "<%= request.original_url %>")'>
                        <%= t 'saved' %>
                      </span>
                      <span style="display:none" class="sr" id='save-row-<%= ad["_id"] %>' onclick='srsave("<%= ad["_id"] %>", "<%= c %>" , "<%= request.original_url %>")'>
                        <%= t 'save' %>
                      </span>
                      <% else %>
                      <span class="sr" id='save-row-<%= ad["_id"] %>' onclick='srsave("<%= ad["_id"] %>", "<%= c %>" , "<%= request.original_url %>")'>
                        <%= t 'save' %></span>
                      <span style="display:none" class="sr sra" id='unsave-row-<%= ad["_id"] %>' onclick='srunsave("<%= ad["_id"] %>", "<%= c %>" , "<%= request.original_url %>")'><%= t 'saved' %>
                      </span>
                      <% end %>
                       • 
                      <span class="sr" data-micromodal-trigger='report-<%= ad["_id"] %>'>
                        <%= t 'report' %>
                      </span>    

                 <div class="modal micromodal-slide" id='report-<%= ad["_id"] %>' aria-hidden="true">
                  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="reportpop-title">
                      <%= form_tag(report_path, method: :get) do %>
                      <%= hidden_field_tag :link, ad["_id"] %>
                      <%= hidden_field_tag :url, request.original_url %>
                      <%= hidden_field_tag :cat, params[:c] %>
                      <div class="modal-row">
                      <select name="rtype">
                        <option value="1"><%= t "wrong-info" %></option>
                        <option value="2"><%= t "expired-link" %></option>
                        <option value="3"><%= t "scam" %></option>
                        <option value="4"><%= t "illegal" %></option>
                        <option value="5"><%= t "duplicate" %></option>
                        <option value="6"><%= t "other" %></option>
                      </select>
                      </div>
                      <div class="modal-row">
                        <%= text_area_tag :text, "", placeholder: t("description") %>
                      </div>
                        <div class="modal-buttons">
                          <button><%= t 'save' %></button>
                          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
                        </div>
                      <br>
                      <% end %>
                    </div>
                  </div>
                </div>  
          
            </div>     
        </div>
      </div>               
  <% end %>
</ol>
    
 <div class="modal micromodal-slide" id="imgpop" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="imgpop-title">
      <div>
      <br>
      <img src="" id="fullimgx"/>
      <div data-micromodal-close aria-label="Close this dialog window" class="close-modal-text">Close</div>
      <br>
      </div>
    </div>
  </div>
</div>  
            
<script>
loadimages()
</script>   
    