<div class="dropdown">

<%= form_tag(search_path, method: :get, :id => "sform") do %>

<%= render "welcome/shared/params" %>
        
<div class="hwrap">
<div class="sbox">
<div class="forms">
  
  <% if (params[:c].to_s == "p") || (params[:c].nil?) || (["s", "r", "j"].exclude? "#{params[:c].to_s}") %>
    <div class="form show">
      <%= render "welcome/forms/products" %>
    </div>
  <% end %>

  <% if params[:c].to_s == "s" %>
    <div class="form show">
      <%= render "welcome/forms/services" %>
    </div>
  <% end %>

  <% if params[:c].to_s == "r" %>
    <div class="form show">
      <%= render "welcome/forms/estates" %>
    </div>
  <% end %>

  <% if params[:c].to_s == "j" %>
    <div class="form show">
      <%= render "welcome/forms/jobs" %>
    </div>
  <% end %>
  
</div>
</div>
</div>
    
<% end %>
</div>
    
  <% if current_page?(controller: 'welcome', action: 'search') %>
  <div class="hwrap">
    <div class="rcswrapper">
      <div class="sbox">
    <table class="rtable" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="rtable-1">
              <% if @total_results.to_i > 20 %>
                <%= ((params[:page].to_i - 1) * 20) + 1 %>-<%= [(params[:page].to_i * 20), @total_results.to_i].min %>
                 <%= t 'of' %>
              <% end %>
              <b><%= @total_results %></b> <%= t 'results' %>
            </td>
            <td class="rtable-2">
              <% if @total_results.to_i > 0 %>
              <span data-micromodal-trigger="sortic" class="sorti">
                <% if params[:sort].blank? %>
                 <%= t 'sort' %>
                <% elsif params[:sort].to_s == "masc" %>
                 <%= t 'lowest-price' %>
                <% elsif params[:sort].to_s == "mdesc" %>
                 <%= t 'highest-price' %>
                <% elsif params[:sort].to_s == "edesc" %>
                 <%= t 'most-recent' %>
                <% elsif params[:sort].to_s == "ydesc" %>
                 <%= t 'most-popular' %>
                <% elsif params[:sort].to_s == "dasc" %>
                 <%= t 'nearest-first' %>
                <% else %>
                 <%= t 'sort' %>
                <% end %>
              </span>
              <% end %>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
    </div>
  </div>
  <div class="border"></div>
  <% end %>

<% if (current_page?(controller: 'welcome', action: 'search')) && (@total_suggests.count > 0) %>
<div class="hwrap">
  <br>
<div class="sbox">
<%= t 'did-you-mean' %>: <%= link_to @total_suggests[0]["highlighted"].html_safe, search_path(params.except(:q, :action, :controller).to_enum.to_h.merge(:q => @total_suggests[0]["text"])) %> ?
</div>
  <br>
</div>
<% end %>

<script>
function autoc() {
  var field = document.getElementById("qdform");
  
  if (field.value == '') {
 document.getElementById("acomd").style.display = "block";
 const results = document.querySelector("#results");
    results.innerHTML = "";
    var myStringArray = <%= raw @sarray %> ;
    var arrayLength = myStringArray.length;
    if (arrayLength > 0) {
      for (var i = 0; i < arrayLength; i++) {
        row = '<div class="ac-row-wr vqueries" ' + 'onclick=' + '"' + "acset('" + myStringArray[i] + "', '" + 'qdform' + "'" + ')"' + '>' + myStringArray[i] + '</div>'
        results.insertAdjacentHTML("beforeend", row);
      };
    } else {
      var pmyStringArray = <%= raw @psarray %> ;
      var parrayLength = pmyStringArray.length;
      for (var i = 0; i < parrayLength; i++) {
        row = '<div class="ac-row-wr pqueries" ' + 'onclick=' + '"' + "acset('" + pmyStringArray[i] + "', '" + 'qdform' + "'" + ')"' + '>' + pmyStringArray[i] + '</div>'
        results.insertAdjacentHTML("beforeend", row);
      };
    };
  } else{
    document.getElementById("acomd").style.display = "block";
fetch("/auto?q=" + field.value)
  .then((data) => data.text())
  .then((html) => {
    const results = document.querySelector("#results");
    results.innerHTML = "";
    var myStringArray = JSON.parse(html);
    var inputArray = field.value.toLowerCase().split(" ");
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      arr = myStringArray[i].split(" ");
      newarr = arr.map(function(i) {
        if (inputArray.includes(i)){
          return i
        }else{
          return '<b>' + i + '</b>'
        }
      }).join(" ");
    row = '<div class="ac-row-wr" ' + 'onclick=' + '"' + "acset('" + myStringArray[i] + "', '" + 'qdform' + "'" + ')"' + '>' + newarr + '</div>'
    results.insertAdjacentHTML("beforeend", row);
    };   
  });
  }
}

</script>