<div class="container">

<table class="sptable" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="sptable-1">        
            <%= text_field_tag :q, params[:q], autocomplete: "off", maxlength: 400, id: "qdform", class: "sfi", placeholder: "#{t('jobs-field')}", onkeyup: 'autoc()', onfocus: 'autoc()', type: "search" %>         
        </td>
        <td class="sptable-2">
          <button class="ssbtn"></button>
        </td>
      </tr>
    </tbody>
</table>

  <div id="acomd" class="dropdown-content inner-div">
      <div id="results" class="dcc">
                
      </div>
  </div>

</div>

<% if current_page?(controller: 'welcome', action: 'search') %>
<div class="scroll">
  <div class="filtertab">
    Salary
  </div>
  <div class="filtertab">
    Language Requirements
  </div>
  <div class="filtertab">
    Date Range
  </div>
  <div class="filtertab">
    Education
  </div>
  <div class="filtertab">
    Language Requirements
  </div>
  <div class="filtertab">
    Date Range
  </div>
</div>
<% end %>