<div class="container">

<table class="sptable" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="sptable-1">        
            <%= text_field_tag :q, params[:q], autocomplete: "off", maxlength: 400, id: "qdform", class: "sfi", placeholder: "#{t('product-field')}", onkeyup: 'autoc()', onfocus: 'autoc()', type: "search" %>         
        </td>
        <td class="sptable-2">
          <button class="ssbtn"></button>
        </td>
      </tr>
    </tbody>
</table>

  <div id="acomd" class="dropdown-content inner-div">
      <div id="results" class="dcc">
                
      </div>
  </div>

</div>

<div class="scroll">
<% if current_page?(controller: 'welcome', action: 'search') %>
    <% if ((params[:minp].present?) || (params[:maxp].present?)) %>
      <div data-micromodal-trigger="fprice" class="filtertab ftaba">
        <%= params[:minp] %> - <%= params[:maxp] %> <%= params[:cur] %>
      </div>
    <% end %>
      
  <% if (params[:cc].present?) %>
    <div data-micromodal-trigger="fcc" class="filtertab ftaba">
    <% if params[:loc].present? %>
      <%= params[:loc].to_s %> - 
    <% end %>
    <%= t("country.#{params[:cc].upcase}") %>
    </div>
  <% end %>
    
    <% if ((params[:del].present?) || (params[:fd].present?) || (params[:lop].present?)) %>
    <div data-micromodal-trigger="fdelivery" class="filtertab ftaba">
    <% if params[:fd].present? %>
      <%= t 'free-delivery' %> | 
    <% end %>
    <% if params[:lop].present? %>
      <%= t 'local-pickup' %> | 
    <% end %>
    <% if (params[:del].present?) %>
      <%= t("country.#{params[:del].upcase}") %>
    <% else %>
      <%= t 'worldwide' %>
    <% end %>
    </div>
  <% end %>
      
  <% if ((params[:sf].present?) && (["fp", "nop", "a"].include? "#{params[:sf]}")) %>
    <div data-micromodal-trigger="fsformat" class="filtertab ftaba">
      <% if params[:sf].to_s == "fp" %>
        <%= t 'fixed-price' %>
      <% elsif params[:sf].to_s == "nop" %>
        <%= t 'no-price' %>
      <% elsif params[:sf].to_s == "a" %>
        <%= t 'auction' %>
      <% end %>
    </div>
  <% end %>
    
  <% if (params[:cond].present?) %>
    <div data-micromodal-trigger="fcondition" class="filtertab ftaba">
    <% if params[:cond].to_s == "used" %>
      Used
    <% elsif params[:cond].to_s == "new" %>
      New
    <% else %>
      <%= t 'condition' %>
    <% end %>
    </div>
  <% end %>

    <% if ((params[:ref].present?) || (params[:ret].present?) || (params[:war].present?)) %>
    <div data-micromodal-trigger="fguarantees" class="filtertab ftaba">
    <% if params[:ref].present? %>
      <%= t 'offers-refunds' %> | 
    <% end %>
    <% if (params[:war].present?) %>
      <%= t("has-warranty") %>
    <% end %>
    </div>
  <% end %>
    
  <% if (params[:lang].present?) %>
    <div data-micromodal-trigger="flang" class="filtertab ftaba">
    <%= t("lang.#{params[:lang]}") %>
    </div>
  <% end %>
    
  <% if (params[:slr].present?) %>
    <div data-micromodal-trigger="fseller" class="filtertab ftaba">
      <%= params[:slr].to_s %>
    </div>
  <% end %>
    
  <% if ((params[:lu].present?) && (["1h", "1d", "1w", "1m", "1y", "my"].include? "#{params[:lu]}")) %>
    <div data-micromodal-trigger="fupdated" class="filtertab ftaba">
      <% if params[:lu].to_s == "1h" %>
        <%= t '1h' %>
      <% elsif params[:lu].to_s == "1d" %>
        <%= t '1d' %>
      <% elsif params[:lu].to_s == "1w" %>
        <%= t '1w' %>
      <% elsif params[:lu].to_s == "1m" %>
        <%= t '1m' %>
      <% elsif params[:lu].to_s == "1y" %>
        <%= t '1y' %>
      <% elsif params[:lu].to_s == "my" %>
        <%= t 'smlv' %>
      <% end %>
    </div>
  <% end %>
    
<% end %>

<% if current_page?(controller: 'welcome', action: 'search') %>
    <% if !((params[:minp].present?) || (params[:maxp].present?)) %>
      <div data-micromodal-trigger="fprice" class="filtertab">
        <%= t 'price' %>
      </div>
    <% end %>
      
  <% if !(params[:cc].present?) %>
    <div data-micromodal-trigger="fcc" class="filtertab">
    <%= t 'location' %>
    </div>
  <% end %>
    
    <% if !((params[:del].present?) || (params[:fd].present?) || (params[:lop].present?)) %>
    <div data-micromodal-trigger="fdelivery" class="filtertab">
    <%= t 'delivery' %>
    </div>
    <% end %>
      
  <% if !((params[:sf].present?) && (["fp", "nop", "a"].include? "#{params[:sf]}")) %>
    <div data-micromodal-trigger="fsformat" class="filtertab">
    <%= t 'buying-format' %>
    </div>
  <% end %>
    
    <% if !(params[:cond].present?) %>
    <div data-micromodal-trigger="fcondition" class="filtertab">
    <%= t 'condition' %>
    </div>
    <% end %>
    
  <div class="filtertab">
    <%= t 'payment-methods' %>
  </div>

  <% if !((params[:ref].present?) || (params[:ret].present?) || (params[:war].present?)) %>
    <div data-micromodal-trigger="fguarantees" class="filtertab">
    <%= t 'guarantees' %>
    </div>
  <% end %>
    
  <% if !(params[:lang].present?) %>
    <div data-micromodal-trigger="flang" class="filtertab">
    <%= t 'language' %>
    </div>
  <% end %>
    
  <% if !(params[:slr].present?) %>
    <div data-micromodal-trigger="fseller" class="filtertab">
    <%= t 'seller' %>
    </div>
  <% end %>
    
  <% if !((params[:lu].present?) && (["1h", "1d", "1w", "1m", "1y", "my"].include? "#{params[:lu]}")) %>
    <div data-micromodal-trigger="fupdated" class="filtertab">
    <%= t 'last-updated' %>
    </div>
  <% end %>
    
<% end %>
</div>

<div class="modal micromodal-slide" id="fprice" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fprice-title">
      <div class="modal-row">
      <%= number_field_tag :minp, params[:minp], placeholder: t("min"), class: "fprice" %> - 
      <%= number_field_tag :maxp, params[:maxp], placeholder: t("max"), class: "fprice" %>
      </div>
      <div class="modal-row">
      <select name="cur">
        <% currencies_array(I18n.locale).each do |currency| %>
            <option value="<%= currency %>" <% if @cur == currency %> selected<% end %>><%= t("currency.#{currency.upcase}") %></option>
        <% end %>
      </select>
      </div>
        <div class="modal-buttons">
          <button><%= t 'save' %></button>
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>
          
<div class="modal micromodal-slide" id="fsformat" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fsformat-title">
      <div class="modal-row">
        <% if ((params[:sf].blank?) || (["fp", "nop", "a"].exclude? "#{params[:sf]}")) %>
          <%= t 'any-format' %>
        <% else %>
          <%= link_to t("any-format"), search_path(params.except(:sf, :page, :action, :controller).to_enum.to_h.merge(:sf => "any", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:sf].to_s == "fp" %>
          <%= t 'fixed-price' %>
        <% else %>
          <%= link_to t("fixed-price"), search_path(params.except(:sf, :page, :action, :controller).to_enum.to_h.merge(:sf => "fp", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:sf].to_s == "nop" %>
          <%= t 'no-price' %>
        <% else %>
          <%= link_to t("no-price"), search_path(params.except(:sf, :page, :action, :controller).to_enum.to_h.merge(:sf => "nop", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:sf].to_s == "a" %>
          <%= t 'auction' %>
        <% else %>
          <%= link_to t("auction"), search_path(params.except(:sf, :page, :action, :controller).to_enum.to_h.merge(:sf => "a", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
        <div class="modal-buttons">
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>

  
<div class="modal micromodal-slide" id="fseller" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fseller-title">
      <div class="modal-row">
        <%= text_field_tag :slr, params[:slr], placeholder: t("name") %>
      </div>
      <div class="modal-row">
        <%= t 'type' %>: 
      <select name="stype">
        <% ["any", "individual", "retailer", "manufacturer", "wholesaler"].each do |type| %>
            <option value="<%= type %>" <% if params[:stype] == type %> selected<% end %>><%= t("#{type}") %></option>
        <% end %>
      </select>
      </div>
        <div class="modal-buttons">
          <button><%= t 'save' %></button>
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>
          
<div class="modal micromodal-slide" id="flang" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="flang-title">
      <div class="modal-row">
      <select name="lang">
        <option value=""><%= t("any-language") %></option>
        <% language_array(I18n.locale).each do |lang| %>
            <option value="<%= lang %>" <% if params[:lang] == lang %> selected<% end %>><%= t("lang.#{lang}") %></option>
        <% end %>
      </select>
      </div>
        <div class="modal-buttons">
          <button><%= t 'save' %></button>
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>

  <div class="modal micromodal-slide" id="fupdated" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fupdated-title">
      <div class="modal-row">
        <% if ((params[:lu].blank?) || (["1h", "1d", "1w", "1m", "1y", "my"].exclude? "#{params[:lu]}")) %>
          <%= t 'anytime' %>
        <% else %>
          <%= link_to t("anytime"), search_path(params.except(:lu, :page, :action, :controller).to_enum.to_h.merge(:lu => "", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:lu].to_s == "1h" %>
          <%= t '1h' %>
        <% else %>
          <%= link_to t("1h"), search_path(params.except(:lu, :page, :action, :controller).to_enum.to_h.merge(:lu => "1h", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:lu].to_s == "1d" %>
          <%= t '1d' %>
        <% else %>
          <%= link_to t("1d"), search_path(params.except(:lu, :page, :action, :controller).to_enum.to_h.merge(:lu => "1d", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:lu].to_s == "1w" %>
          <%= t '1w' %>
        <% else %>
          <%= link_to t("1w"), search_path(params.except(:lu, :page, :action, :controller).to_enum.to_h.merge(:lu => "1w", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:lu].to_s == "1m" %>
          <%= t '1m' %>
        <% else %>
          <%= link_to t("1m"), search_path(params.except(:lu, :page, :action, :controller).to_enum.to_h.merge(:lu => "1m", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:lu].to_s == "1y" %>
          <%= t '1y' %>
        <% else %>
          <%= link_to t("1y"), search_path(params.except(:lu, :page, :action, :controller).to_enum.to_h.merge(:lu => "1y", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
        <div class="modal-buttons">
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>   
          
<div class="modal micromodal-slide" id="fcc" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fcc-title">
      <div class="modal-row">
        <select name="cc">
          <option value=""><%= t("any-country") %></option>
          <% country_array(I18n.locale).each do |cc| %>
              <option value="<%= cc %>" <% if params[:cc] == cc %> selected<% end %>><%= t("country.#{cc.upcase}") %></option>
          <% end %>
        </select>
      </div>
      <div class="modal-row">
        <%= text_field_tag :loc, params[:loc], placeholder: t("location-details") %>
      </div>
        <div class="modal-buttons">
          <button><%= t 'save' %></button>
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div> 
          
<div class="modal micromodal-slide" id="fdelivery" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fdelivery-title">
      <div class="modal-row">
        <select name="del">
          <option value=""><%= t("worldwide") %></option>
          <% country_array(I18n.locale).each do |del| %>
              <option value="<%= del %>" <% if params[:del] == del %> selected<% end %>><%= t("country.#{del.upcase}") %></option>
          <% end %>
        </select>
      </div>
        <div class="modal-row">
          <label>
              <%= check_box_tag(:fd, "true", params[:fd], style: "vertical-align:middle;") %>
          <span>
            <%= t 'free-delivery' %>
          </span>
          </label>
        </div>
        <div class="modal-row">
          <label>
            <%= check_box_tag(:lop, "true", params[:lop], style: "vertical-align:middle;") %>
          <span>
            <%= t 'local-pickup' %>
          </span>
          </label>
        </div>
        <div class="modal-row">
          <label>
            <%= check_box_tag(:lop, "true", params[:od], style: "vertical-align:middle;") %>
          <span>
            <%= t 'online-delivery' %>
          </span>
          </label>
        </div>
        <div class="modal-buttons">
          <button><%= t 'save' %></button>
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="fcondition" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fcondition-title">
      <div class="modal-row">
        <% if ((params[:cond].blank?) || (["new", "used"].exclude? "#{params[:cond]}")) %>
          <%= t 'any' %>
        <% else %>
          <%= link_to t("any"), search_path(params.except(:cond, :page, :action, :controller).to_enum.to_h.merge(:cond => "", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:cond].to_s == "used" %>
          <%= t 'used' %>
        <% else %>
          <%= link_to t("used"), search_path(params.except(:cond, :page, :action, :controller).to_enum.to_h.merge(:cond => "used", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
      <div class="modal-row">
        <% if params[:cond].to_s == "new" %>
          <%= t 'new' %>
        <% else %>
          <%= link_to t("new"), search_path(params.except(:cond, :page, :action, :controller).to_enum.to_h.merge(:cond => "new", :page => 1)), style: "outline:none" %>
        <% end %>
      </div>
        <div class="modal-buttons">
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="fguarantees" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="fguarantees-title">
        <div class="modal-row">
          <label>
              <%= check_box_tag(:ref, "true", params[:ref], style: "vertical-align:middle;") %> 
          <span>
            <%= t 'offers-refunds' %>
          </span>
          </label>
        </div>
        <div class="modal-row">
          <label>
            <%= check_box_tag(:war, "true", params[:war], style: "vertical-align:middle;") %> 
          <span>
             <%= t 'has-warranty' %>
          </span>
          </label>
        </div>
        <div class="modal-buttons">
          <button><%= t 'save' %></button>
          <span data-micromodal-close aria-label="Close this dialog window"><%= t 'cancel' %></span>
        </div>
      <br>
    </div>
  </div>
</div>