<div class="hwrap">
    <div class="htabs">
      <div class="tabwrap">
      <% if ((params[:c].to_s == "p") || (params[:c].nil?) || (["s", "r", "j"].exclude? "#{params[:c]}")) && ((current_page?(controller: 'welcome', action: 'search')) || (current_page?(controller: 'welcome', action: 'index'))) %>
        <%= link_to "#{t('products')}", root_path(c: "p"), class: "tablinka" %>
      <% else %>
        <%= link_to "#{t('products')}", root_path(c: "p"), class: "tablink" %>
      <% end %>
      </div>
      <div class="tabwrap">
      <% if params[:c].to_s == "s" %>
        <%= link_to "#{t('services')}", root_path(c: "s"), class: "tablinka" %>
      <% else %>
        <%= link_to "#{t('services')}", root_path(c: "s"), class: "tablink" %>
      <% end %>
      </div>
      <div class="tabwrap">
      <% if params[:c].to_s == "r" %>
        <%= link_to "#{t('realestate')}", root_path(c: "r"), class: "tablinka" %>
      <% else %>
        <%= link_to "#{t('realestate')}", root_path(c: "r"), class: "tablink" %>
      <% end %>
      </div>
      <div class="tabwrap">
      <% if params[:c].to_s == "j" %>
        <%= link_to "#{t('jobs')}", root_path(c: "j"), class: "tablinka" %>
      <% else %>
        <%= link_to "#{t('jobs')}", root_path(c: "j"), class: "tablink" %>
      <% end %>
      </div>
    </div>
</div>

 