<!DOCTYPE html>
<html dir="ltr" lang="<%= @lan %>">
  <head>
    <meta name="description" content="<%= t 'search-billions' %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
        document.documentElement.style.display = 'none';
        document.head.insertAdjacentHTML(
          'beforeend',
          '<link rel="stylesheet" href="/light.css" onload="document.documentElement.style.display = \'\'">',
        );
      }
    </script>

    <link rel="stylesheet" href="/dark.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="/light.css" media="(prefers-color-scheme: light)" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#42414d">
    <meta name="apple-mobile-web-app-title" content="OpenSorted">
    <meta name="application-name" content="OpenSorted">
    <meta name="msapplication-TileColor" content="#f9f9fb">
        
    <meta name="robots" content="noarchive">
    <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <% if content_for?(:head) %>
          <%= yield(:head) %>
    <% end %>
    <%= csrf_meta_tag %>
  </head>
  <body>
      <div class="content">
        <header>
          <%= render :partial => "layouts/header" %>
        </header>
        <div>
        <%= yield %>
        </div>
      </div>
      <script>MicroModal.init({awaitCloseAnimation: true});</script>
  </body>
</html>